<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Team</title>
</head>
<body>
    <div id="all">
    <%- include('../partials/_navbar.ejs') %>
    <h1>Players on My Team</h1>
    <h2>Players:</h2>
        <% team.players.forEach((player) => { %>
            <h2><%=player.name%></h2>
            
        <% }); %>

        
        <a href="/teams/<%= team._id %>/edit">Edit Team</a>
        <form action="/teams/<%= team._id %>?_method=DELETE" method="POST">
            <button type="submit">Remove Team</button>
        </form>
        <a href="/managers/<%= team.manager %>">Back to Manager info</a>
   </div>
</body>
</html>
