<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Edit Manager Details</title>
</head>
<body>
    <div id="all">
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= manager.name %></h1>
    <form action="/managers/<%= manager._id %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value=" <%= manager.name %>"><br />        
        Team Name: <input type="text" name="teamName" value="<%= manager.teamName %>"><br />        
        <button type="submit">Update Manager Details</button>
    </form>
    </div>
</body>
</html>